<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>Welcome to your Dashboard</h1>


<p class="link"><a href="/task">To your tasks</a></p>
<p class="link"><a href="/logout">Sign out</a></p>
<p class="link"><a href="/task/add">Add a new task</a></p>
<p class="link"><a href="/task/complete">Show completed Tasks</a></p>
<p class="link"><a href="/task/overdue">Show overdue Tasks</a></p>
<p class="link"><a href="/task/pending">Show pending Tasks</a></p>
<p class="link"><a href="/task/topassigners">Show our top Assigners</a></p>
<p class="link"><a href="/task/topassignees">Show our top Assignees</a></p>
<p class="link"><a href="/task/topresolvers">Show our top Resolvers</a></p>

</body>
</html>