<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">

    <input type="text" name="username" placeholder="User name"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="max" placeholder="Max TODO"><br>
    <input type="submit">

</form>

</body>
</html>