<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
        }
        .link {
            font-size: 1rem;
        }
    </style>
</head>
<body>

<p>Updated Task</p>
<p> Task ID - Assigner - Content - State - Assignee - Due Data - Issue Date</p> 

<p><a href="/task/show?taskid={{.TaskID}}">{{.TaskID}}  - {{.Assigner}} - {{.Content}} - {{.State}} - {{.Assignee}} - {{.DueDate}} - {{.IssueDate}}</a></p>
<p class="link"><a href="/task">All Tasks</a></p>
</body>
</html>